body {
    margin: 0;
    padding: 0;

    background-color: #22223b;
}

h1 {
    font-family: 'Pangolin', cursive;
    color: #9a8c98;
    padding: 15px;
    text-transform: uppercase;
}

.button {
    padding: 10px;
    margin-left: 35px;
    cursor: pointer;

    font-size: 14px;
    background-color: #ff9f1c;
    color: #333;
    font-family: 'Pangolin', cursive;
    border: none;
}

.button:hover {
    background-color: #333333;
    color: #ff9f1c;
}

li {
    list-style: none;
    color: #fff;
}