body {
    margin: 0;
    padding: 0;

    background-color: #2ec4b6;
}

li {
    list-style: none;
}

/* style for intro container */
.container {
    width: 800px;
    max-width: 80%;
    margin: 0 auto;

    text-align: center;
    background-color: #011627;
}

.question-container {
    padding: 40px;
    margin-top: 90px;

    color: #fff;
    font-family: 'Pangolin', cursive;
}

h1 {
    font-family: 'Amatic SC', cursive;
    color: #ff9f1c;
    font-size: 37px;
}

p {
    font-family: 'Pangolin', cursive;
    font-size: 17px;
    color: #fdfffc;
}

/* style for button */
.start-btn {
    margin-top: 10px;
    padding: 10px 25px 10px;

    font-family: 'Pangolin', cursive;
    background-color: #e71d36;
    color: #fdfffc;

    border: none;
    text-transform: uppercase;

    transition: linear .1s;
}

.start-btn:hover {
    color: black;
    background-color: #ff9f1c;
}

/* style for highscore "a" tag */
a {
    text-decoration: none;
}
header{
    margin-top: 30px;
    margin-left: 30px;

}

.highscores {
    font-family: 'Pangolin', cursive;
    border: 2px solid #e71d36;
    background-color: #2ec4b6;
    color: #011627;
    font-size: 14px;

    padding: 10px;

    transition: linear .1s;
}

.highscores:hover {
    background-color: #e71d36;
    color: #fdfffc;
}

/* styles for timer */
.timer {
    float: right;
    margin-top: -100px;
    margin-right: 160px;

    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}